# Dependency directories
/node_modules

# Build files
/build
/dist

# Environment files
config.env

# Logs
*.log

# Cache
.cache


# IDE files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?